h5 {
    color: aqua;
}

p {
    font-family: cursive;
}

#welcome{
    color: brown;
}

#text{
    color: darkorange;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*
Simple selector types
    -Tags selector
    -Id selector
    -class selector
    -universal seletor
    -grouping selector
*/


/*
Part-2 of css coding
*/

#heading {
    color: rgba(156, 103, 109, 0.817)
}

#coding {
    color: hsla(31, 30, 52, 0.7)
}

#fadecolor {
    color:darkorange;
    opacity: 50%
}

backcolor {
    background-image: url(image/19143.jpg);
}

body{
    
    background-image: url(image/19143.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll; 
}

/*
The border of css program
*/

h1 {
    border-style: double ;
    border-width: 6px 4px;
    border-color: gold orange;
    border-radius: 6px 7px;
    
}
  /*top right bottom left*/

  /*
  The margen and padinges
  */


p {
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 25px;
    margin-right: 25px;

  /*  padding: 34px 45px;
    margin: 20px;
    width: 75px;
    border: 30px solid;*/
} 

/*
height and width
*/

b {
   /* border: 2px double;
    height: 75px;
    width: 35px;*/

    border: 3px dotted;
    height: 30px;
    width: 20%;
    max-height: 35px;
    max-width: 20%;
    min-height: 55px;
    min-width: 45%;
}

/*
paragraph tags
*/

h4 {
   /* text-align: center;*/
   /*text-decoration: line-through;*/
   /*text-decoration: overline;*/
      /*text-shadw: 5px 5px 5px red */

   text-decoration-line: underline;
   text-decoration-color: gold;
   text-decoration-style: double;
   text-decoration-thickness: 2.5px ;
   text-transform: lowercase;
   line-height: 25px;
   word-spacing: 12px;
}

a {
    text-decoration: none;
}

/*
Font family
*/

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 20px;    /* em=16px*/

    /* font: oblique 12px bolder monospace;*/
}

/*
Tables
*/


table,td {
    border: 3px solid;
    vertical-align: bottom;
    padding: 10px;
    border-collapse: collapse;
}

thead td {
        text-align: center;
}

table {
    width: 45%;
}

tr {
    height: 30px;
}

/*tr:hover{
    background-color:goldenrod;
}*/

tr:nth-child(even) {
    background-color: gold;
}


/*
Selectors and class
*/

.content {
   /* border: 5px double gold ;
    opacity: 0.7;
    border-radius: 15px;*/
}

.para {
  /*  background-color: orange !important;*/

 /* width: 18px;
  height: 20px;*/
  position: relative;
  left: 20px;
  border: 3px solid gold;
  background-color:darkmagenta;
  /*overflow: hidden;*/

   /*position: fixed;
   widht: 100%;
   height: 100%;
   border: 3px solid gold;
  background-color:darkmagenta;
  z-index: -1;*/

}

#paragraph {
    background-color: cyan ;
}

img {
    widht: 90px;
    height: 90px;
    float: none;
}

.disp {
    display: inline;
    widht:90px;
    height:auto;
    background-color:hotpink 
}

