h5 {
    color: aqua;
}

p {
    font-family: cursive;
}

#welcome{
    color: brown;
}

.text{
    color: darkorange;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*
Simple selector types
    -Tags selector
    -Id selector
    -class selector
    -universal seletor
    -grouping selector
*/


/*
Part-2 of css coding
*/

#heading {
    color: rgba(156, 103, 109, 0.817)
}

#coding {
    color: hsla(31, 30, 52, 0.7)
}

#fadecolor {
    color:darkorange;
    opacity: 50%
}

backcolor {
    background-image: url(image/19143.jpg);
}

body{
    
  /*  background-image: url(image/19143.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
  */
  background:  url(image/19143.jpg) no-repeat left top fixed                         ;  
}






